body {
	font-family: helvetica,monospace;
	font-size: 12pt;
	padding-left: 6em; 
}

.double td {
 	border: 2px solid #000000;
 	font-weight: bolder;
 }

.single td {
	border-bottom: 1px solid #000000;
}

.emphasis td {
	font-weight: bold;
}

.italic td {
	font-style: italic;
}

.dt {
 	font-weight: bolder;
}

table {
	font-family: inherit;
	font-size: 12pt;
	border: 2px solid black;
	border-collapse: collapse;
	width:100%;
}

 td {
 	text-align: right;
 }

 td.names {
 	text-align: left;
 }

td { 
    border-left: 1px solid black; 
    border-right: 1px solid black; 
    padding: 1px 5px;
   }

th { 
    border: 1px solid black; 
    padding: 5px 1px;
   }